<!DOCTYPE html>
{%extends 'AuthApp/base.html'%}

    {%block body_block%}


    <div class="container" align="center">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h1>Welcome to JNTUH's Examination </h1>
                <li>
                    <li>Make sure that you are prepared for the exam.</li>
                    <li>Make sure that you are prepared for the exam.</li>
                    <li>Make sure that you are prepared for the exam.</li>
                    <li>Make sure that you are prepared for the exam.</li>
                    <li>Make sure that you are prepared for the exam.</li>
                </li>
            </div>
        </div>
    </div>

    {%endblock%}